<html>
  <head>
    <title>五子棋</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--link href='stylesheets/site.css' rel='stylesheet' type='text/css' /-->
    <% var boardLength = 18; %>
    <style type="text/css" media="screen">
      table tr td {
        border-color: green;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <table>
      <% for (var i = 0; i < boardLength; i++ ) { %>
        <tr>
          <% for (var j = 0; j < boardLength; j++) { %>
            <td data-x="<%= i %>" data-y="<%= j %>">dd</td>
          <% } %>
        </tr>
      <% } %>
    </table>
  </body>
</html>
